@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.body {
  background-color: #000;
}

.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 880px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 984px) {
  .page {
    max-width: 581px;
  }
}

.header {
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin-top: 45px;
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 28px;
  }
}

.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 568px) {
  .header__logo {
    width: 103.74px;
    padding-bottom: 31.6px;
    padding-left: 27px;
  }
}

.profile {
  display: grid;
  grid-template-columns: 120px max-content 1fr;
  gap: 30px;
  align-items: center;
  justify-items: end;
  margin-top: 40px;
}

@media screen and (max-width: 568px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 42px;
    gap: 26px;
  }
}

.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.profile__info {
  color: #FFF;
  display: grid;
  grid-template-columns: 294px 24px;
  gap: 8px 16px;
  align-items: baseline;
}

@media screen and (max-width: 568px) {
  .profile__info {
    grid-template-columns: 18px 189px 18px;
    gap: 8px 10px;
  }
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 984px) {
  .profile__name {
    font-size: calc(27px + 15 * (100vw / 1280));
  }
}

@media screen and (max-width: 568px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    grid-column: 2/3;
    text-align: center;
  }
}

.profile__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-column: 1/3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 984px) {
  .profile__about  {
    font-size: calc(14px + 4 * (100vw / 1280));
  }
}

@media screen and (max-width: 568px) {
  .profile__about  {
    font-size: 14px;
    line-height: 17px;
    grid-column: 2/3;
    text-align: center;
  }
}

.profile__edit-button {
  background: url(./image/icon-pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  padding: 0px;
  object-fit: contain;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .profile__edit-button {
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
  }
}

.profile__add-button {
  background: url(./image/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 0;
  object-fit: contain;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 984px) {
  .profile__add-button {
    width: 100px;
  }
}

@media screen and (max-width: 568px) {
  .profile__add-button {
    background-size: 16px 16px;
    width: 282px;
    margin-top: 6px;
  }
}

.cards {
  margin-top: 51px;
}

@media screen and (max-width: 568px) {
  .cards {
    margin-top: 36px;
  }
}

.cards__list {
  list-style: none;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .cards__list {
    grid-template-columns: 282px;
  }
}

.cards__card {
  display: flex;
  flex-direction: column;
  height: 361px;
  background: #FFF;
  border-radius: 10px;
}

.cards__description {
  display: flex;
  width: 246px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.cards__image {
  object-fit: cover;
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.cards__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__icon-heart {
  cursor: pointer;
  padding: 10px 11px 9px;
  border-style: none;
  background: url(./image/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}

.footer__text {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
}

.popup_is-opened {
  display: flex;
}

 .popup__container {
  position: relative;
}

.popup__button-close {
  position: absolute;
  grid-column: -1/-2;
  background: url(./image/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  padding: 0px;
  object-fit: contain;
  width: 32px;
  height: 32px;
  border: none;
  margin: -40px;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin-top: -36px;
    margin-right: 0;
  }
}

.popup__content {
  width: 430px;
  height: 330px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .popup__content {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}

.popup__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

@media screen and (max-width: 600px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__text {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__button-submit {
  display: block;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin-top: 48px;
}

@media screen and (max-width: 600px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}

.popup__text_name {
  margin-top: 54px;
}

@media screen and (max-width: 600px) {
  .popup__text_name {
    margin-top: 75px;
  }
}

.popup__text_job {
  margin-top: 30px;
}

.button-hover:hover {
  opacity: .6;
}
