@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.body {
  background-color: #000;
}

.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin: 45px auto 60px;
  max-width: 880px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 984px) {
  .page {
    max-width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .page {
    /* max-width: 320px; */
    margin-top: 28px;
    margin-bottom: 36px;
  }
}

.header {
  opacity: 0.7;
  border-bottom: 1px solid #545454;
}

.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 568px) {
  .header__logo {
    width: 103.74px;
    padding-bottom: 31.6px;
    padding-left: 27px;
  }
}

.cards {
  margin-top: 51px;
}

.cards__list {
  list-style: none;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .cards__list {
    grid-template-columns: 282px;
  }
}

.cards__card {
  display: flex;
  flex-direction: column;
  height: 361px;
  background: #FFF;
  border-radius: 10px;
}

.cards__description {
  display: flex;
  width: 246px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.cards__image {
  object-fit: cover;
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.cards__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__icon-heart {
  cursor: pointer;
  padding: 10px 11px 9px;
  /* border-width: initial; */
  border-style: none;
  /* border-color: initial;
  border-image: initial; */
  background: url(./image/icon-heart.svg) center center / 100% no-repeat;
  /* transition: all 0.3s ease 0s; */
}

.cards__icon-heart:hover {
  opacity: 0.5;
}

.footer {
  color: #545454;
  margin-top: 67px;
}

.footer__text {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}
